.form-select label {
    font-size: 15.5px;
}

.top-nav {
    margin-bottom: 80px;
    background-color: #A1141C;
}

#titulo-pag {
    margin-left: 12px;
    font-size: 27px;
}

#btnsalvarid {
    margin-left: 42%;
    margin-bottom: 50px;
}