<!DOCTYPE html>

<html lang="pt-br">
    
    <head>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
        <script type="text/javascript" src="js/vue.js"> </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Formulário</title>
    </head>
    
    <body>
         <nav class="top-nav">
            <div class="nav-wrapper">
                <a id="titulo-pag" href="#" class="brand-logo">Ficha de cadastro</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="http://cariocadev.com.br/">CariocaDev</a></li>
                    <li><a href="http://projetomatrix.cariocadev.com.br/">Projeto Matrix</a></li>
                    <li><a href="http://cariocadev.com.br/index.php/category/projeto-matrix/">CariocaDev Matrix</a></li>
                </ul>
            </div>
        </nav>


        <div class="container">
            <form @submit="salvarLocal" name="formulario" id="formulario" method="post">

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input v-model="formObj.vEmail" id="email" type="email" class="validate" autofocus required>
                        <label for="email">E-mail:</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input v-model="formObj.vNome" id="nome" type="text" class="validate" required>
                        <label for="nome">Nome:</label>
                    </div>
                </div>
                
                <div class="form-select">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">supervisor_account</i>
                            <select class="browser-default" v-model="formObj.vSexo" id="sexo" required>
                                <option value="" disabled selected></option>
                                <option v-for="sexo in vSexoOp" v-bind:value="sexo.value">
                                    {{ sexo.texto }}
                                </option>
                            </select>
                            <label for="sexo">Sexo:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">view_list</i>
                            <select class="browser-default" v-model="formObj.vCurso" id="curso" required>
                                <option value="" disabled selected></option>
                                <option v-for="curso in vCursoOp" v-bind:value="curso.value">
                                    {{curso.texto}}
                                </option>
                            </select>
                            <label for="curso">Curso:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">location_on</i>
                        <input v-model="formObj.vEndereco" id="endereco" type="text" class="validate" required>
                        <label for="endereco">Endereço para correspondência:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">my_location</i>
                        <input v-model="formObj.vComplemento" id="complemento" type="text" class="validate">
                        <label for="complemento">Complemento do endereço:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">navigation</i>
                        <input v-model="formObj.vCep" id="cep" type="text" placeholder="xxxxx-xxx" pattern= "\d{5}-?\d{3}" class="validate" required>
                        <label for="cep">Cep:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s11">
                        <i class="material-icons prefix">open_with</i>
                        <input v-model="formObj.vMunicipio" id="municipio" type="text" class="validate" required>
                        <label for="municipio">Município:</label>
                    </div>

                    <div class="input-field col s1">
                    <select class="browser-default" v-model="formObj.vUf" name="uf" id="uf" required>
                        <option value="" disabled selected>UF</option>
                        <option v-for="uf in vUfOp" v-bind:value="uf.value">
                            {{uf.texto}}
                        </option>
                    </select>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s3" id="btnsalvarid">
                        <button class="waves-effect waves-light btn" type="submit" id="btnsalvar"> <i class="material-icons left">save</i>Salvar</button>
                    </div>

            </form>

                    <form method="get" action="cadastros.html" id="formcadastros">
                        <div>
                            <div class="input-field col s4" id="btnvertodos">
                                <button class="waves-effect waves-light btn" id="btnvertodos" onclick="cadastros.html"> <i class="material-icons left">recent_actors</i>Ver todos</button>
                            </div>
                        </div>
                    </form>
                </div>

            </form>

        </div>

        <script type="text/javascript" src="js/jquery-3.2.1.min.js"> </script>
        <script type="text/javascript" src="js/materialize.min.js"> </script>
        <script type="text/javascript" src="js/initialization.js"> </script>
        <script type="text/javascript" src="js/form-cadastros-vue.js"> </script>
    </body>

</html>